#board { 
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800;
    height: 800px;
    background-color: blue; 
}

#board .tile { 
    width: 100px;
    height: 100px;
}

#board .black-tile {
    background-color: #779556;
}
#board .white-tile {
    background-color: #ebecd0;
}